<style>
.zoom {

  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
{{#if smartPhone}}

<section id="Smartphone" >
    <h3 style="padding-top: 3em; text-align: center;">Smart phones</h3>

    <div class="container mt-5">
        <div class="row">
            <div class="card-deck">
                {{#each smartPhone}}

                <div class="col-md-3 p-3 zoom">
                    <div class="card border-success" style="width: 15rem; height: 28rem">
                        <img src="/product-images/{{this._id}}.jpg" class="card-img-top mx-auto "
                            style="width: 6rem; height: 9rem" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <p class="card-text">{{this.Price}} Rs</p>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                            <a href="/moreDetails/{{this._id}}" class="btn btn-secondary mt-2">More details</a>

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</section><hr>
{{/if}}
{{#if laptop}}
<h3 style="margin-top: 40px; text-align: center;">Laptop</h3>
<section id="laptop">

    <div class="container mt-5">
        <div class="row">
            <div class="card-deck ">
                {{#each laptop}}

                <div class="col-md-6 p-3 zoom">
                    <div class="card border-success" style="width: 15rem; height: 28rem">
                        <img src="/product-images/{{this._id}}.jpg" class="card-img-top mx-auto"
                            style="width: 6rem; height: 9rem" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <p class="card-text">{{this.Price}} Rs</p>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                            <a href="/moreDetails/{{this._id}}" class="btn btn-secondary mt-2">More details</a>

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</section><hr>
{{/if}}
{{#if Hearphone}}
<h3 style="margin-top: 40px; text-align: center;">Hearphone</h3>
<section id="Hearphone">

    <div class="container mt-5">
        <div class="row">
            <div class="card-deck ">
                {{#each Hearphone}}

                <div class="col-md-6 p-3 zoom">
                    <div class="card border-success" style="width: 15rem; height: 28rem">
                        <img src="/product-images/{{this._id}}.jpg" class="card-img-top mx-auto"
                            style="width: 6rem; height: 9rem" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <p class="card-text">{{this.Price}} Rs</p>
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                            <a href="/moreDetails/{{this._id}}" class="btn btn-secondary mt-2">More details</a>

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</section><hr>
{{/if}}